---
import '../styles/global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
</head>
<body class="text-gray-900 font-sans relative">
    
    <div class="fixed inset-0 z-[-1] h-full w-full bg-pink-50 bg-[radial-gradient(#fbcfe8_1px,transparent_1px)] [background-size:20px_20px]"></div>

    <slot /> 

</body>
</html>